<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Template</title>
</head>
<body>
<form action="/user/login" method="post">
  <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" th:if="${_csrf}"/>
  User name:<input type="text" name="username"/><br/>
  Password: <input type="password" name="password"/><br/>
  Remember me: <input type="checkbox" name="remember-me" value="true"/><br/>
  <input type="submit" value="Submit"/>
</form>
<h4>Data gotten from thymeleaf: <span th:text="${msg}"></span></h4>
<h4>_csrf.parameterName:        <span th:text="${_csrf.parameterName}"></span></h4>
<h4>_csrf.token:                <span th:text="${_csrf.token}"></span></h4>
<a href="/admin/demo">Page</a>
</body>
</html>